## Import packages

In [64]:
import pandas as pd
import numpy as np
import os

In [65]:
pwd = os.getcwd()

## Read in the data

In [255]:
Boston = pd.read_csv(pwd + "/marathon_results_2015.csv")
Boston

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [256]:
# list all columns in the dataset
list(Boston.columns)

['Unnamed: 0',
 'Bib',
 'Name',
 'Age',
 'M/F',
 'City',
 'State',
 'Country',
 'Citizen',
 'Unnamed: 9',
 '5K',
 '10K',
 '15K',
 '20K',
 'Half',
 '25K',
 '30K',
 '35K',
 '40K',
 'Pace',
 'Proj Time',
 'Official Time',
 'Overall',
 'Gender',
 'Division']

In [257]:
# see basic descriptive statistics of numerical columns
Boston.describe()

         Unnamed: 0           Age       Overall        Gender      Division
count  26598.000000  26598.000000  26598.000000  26598.000000  26598.000000
mean   13298.500000     42.144823  13299.500000   6711.791263   1654.040417
std     7678.325566     11.294531   7678.325566   3944.254734   1477.112437
min        0.000000     18.000000      1.000000      1.000000      1.000000
25%     6649.250000     33.000000   6650.250000   3325.250000    518.000000
50%    13298.500000     42.000000  13299.500000   6650.000000   1205.000000
75%    19947.750000     50.000000  19948.750000   9974.750000   2268.000000
max    26597.000000     82.000000  26598.000000  14581.000000   6004.000000

In [258]:
# find the data types of all the columns
Boston.dtypes

Unnamed: 0        int64
Bib              object
Name             object
Age               int64
M/F              object
City             object
State            object
Country          object
Citizen          object
Unnamed: 9       object
5K               object
10K              object
15K              object
20K              object
Half             object
25K              object
30K              object
35K              object
40K              object
Pace             object
Proj Time        object
Official Time    object
Overall           int64
Gender            int64
Division          int64
dtype: object

## Clean the data

In [259]:
# rename the first column to "Index"
Boston.rename(columns={"Unnamed: 0": "Index"}, inplace=True)
Boston

,Index,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [260]:
# Get rid of unnecessary columns: Index, Unnamed: 9, Proj Time; these columns were either empty or did not provide any value to the dataset
Boston.drop(columns=["Index", "Unnamed: 9", "Proj Time"], inplace=True)
Boston

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,1,1
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2,2
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22,3,3,3
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47,4,4,4
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,7:38:56,26594,12015,269
26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,7:51:30,26595,12016,270
26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,7:59:33,26596,12017,91
26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,8:00:37,26597,14580,2055
26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,8:06:01,26598,14581,898

## Explore/analyze the data

In [261]:
# find the top 10 finishers from the U.S.
Boston[Boston["Country"] == "USA"].nsmallest(n=10, columns=["Overall"])

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division
6,14,"Ritzenhein, Dathan",32,M,Rockford,MI,USA,NaN,0:14:45,0:29:45,0:45:20,1:00:43,1:04:03,1:16:05,1:31:59,1:48:06,2:04:05,0:05:01,2:11:20,7,7,7
7,1,"Keflezighi, Meb",39,M,San Diego,CA,USA,NaN,0:14:44,0:29:44,0:44:59,1:00:30,1:04:02,1:16:07,1:31:59,1:47:59,2:04:58,0:05:04,2:12:42,8,8,8
10,22,"Tegenkamp, Matt",33,M,Portland,OR,USA,NaN,0:14:46,0:29:50,0:45:33,1:01:20,1:04:48,1:17:08,1:33:12,1:49:52,2:06:55,0:05:07,2:13:52,11,11,11
11,19,"Eggleston, Jeffrey",30,M,Boulder,CO,USA,NaN,0:15:14,0:30:34,0:46:06,1:01:42,1:05:07,1:17:19,1:33:30,1:50:12,2:06:47,0:05:08,2:14:17,12,12,12
13,20,"Arciniaga, Nicholas",31,M,Flagstaff,AZ,USA,NaN,0:14:44,0:29:44,0:45:14,1:01:07,1:04:35,1:17:50,1:35:43,1:53:33,2:10:40,0:05:16,2:18:02,14,14,14
15,28,"Canaday, Sage",29,M,Boulder,CO,USA,NaN,0:16:08,0:32:19,0:48:41,1:05:01,1:08:38,1:21:18,1:38:01,1:54:54,2:11:37,0:05:19,2:19:12,16,16,15
17,29,"Chavez, Chris",28,M,Burlingame,CA,USA,NaN,0:15:57,0:32:21,0:48:43,1:05:21,1:09:00,1:21:50,1:38:46,1:56:05,2:12:58,0:05:21,2:20:04,18,18,17
18,27,"Macpherson, Scott",28,M,Columbia,MO,USA,NaN,0:16:08,0:32:17,0:48:31,1:04:44,1:08:17,1:20:55,1:37:41,1:54:45,2:12:23,0:05:22,2:20:25,19,19,18
19,33,"Zablocki, Christopher",26,M,Essex,CT,USA,NaN,0:16:08,0:32:20,0:48:42,1:05:20,1:08:58,1:21:50,1:38:40,1:55:47,2:13:07,0:05:22,2:20:35,20,20,19
21,32,"Zywicki, Benjamin P.",26,M,Louisville,CO,USA,NaN,0:16:08,0:32:21,0:48:42,1:05:21,1:08:59,1:21:50,1:38:46,1:56:05,2:13:25,0:05:24,2:21:10,22,22,21

In [262]:
# find the countries with the highest number of participants
Boston.groupby("Country")["Bib"].count().reset_index().sort_values(by="Bib", ascending=False)

   Country    Bib
75     USA  21880
10     CAN   2167
28     GBR    281
49     MEX    231
29     GER    176
..     ...    ...
43     LAT      1
1      AND      1
17     CYP      1
8      BLR      1
78     VIE      1

[79 rows x 2 columns]

In [263]:
# find the top 10 states in the U.S. by number of participants
Boston[Boston["Country"] == "USA"].groupby("State")["Bib"].count().reset_index().sort_values(by="Bib", ascending=False).nlargest(n=10, columns=["Bib"])

   State   Bib
23    MA  4694
7     CA  1952
38    NY  1406
48    TX   952
42    PA   922
18    IL   881
39    OH   787
50    VA   669
26    MI   641
27    MN   579

In [271]:
# look at just the half marathon times with name
Boston.loc[:, ["Name", "Half"]]

                        Name     Half
0             Desisa, Lelisa  1:04:02
1      Tsegay, Yemane Adhane  1:04:01
2             Chebet, Wilson  1:04:02
3           Kipyego, Bernard  1:04:02
4              Korir, Wesley  1:04:01
...                      ...      ...
26593  Prescott, Francine J.  3:43:46
26594    Emerson, Annette C.  3:47:55
26595          Cerveny, Nona  3:48:21
26596    Buccilli, Alfred P.  3:43:35
26597        Reilly, William  3:40:36

[26598 rows x 2 columns]

In [264]:
# Create age groups
Boston["Age_group"] = np.select(
    [
        Boston["Age"].between(18, 34, inclusive=True),
        Boston["Age"].between(35, 39, inclusive=True),
         Boston["Age"].between(40, 44, inclusive=True),
          Boston["Age"].between(45, 49, inclusive=True),
           Boston["Age"].between(50, 54, inclusive=True),
            Boston["Age"].between(55, 59, inclusive=True),
             Boston["Age"].between(60, 64, inclusive=True),
              Boston["Age"].between(65, 69, inclusive=True),
               Boston["Age"].between(70, 74, inclusive=True),
                Boston["Age"].between(75, 79, inclusive=True),
                 Boston["Age"].between(80, 100, inclusive=True)
    ],
    [
        "18-34",
        "35-39",
        "40-44",
        "45-49",
        "50-54",
        "55-59",
        "60-64",
        "65-69",
        "70-74",
        "75-79",
        "80+"
    ]
)
Boston

C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:4: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(18, 34, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(35, 39, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(40, 44, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:7: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(45, 49, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(50, 54, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:9: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(55, 59, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(60, 64, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:11: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(65, 69, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:12: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(70, 74, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:13: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(75, 79, inclusive=True),
C:\Users\danie\AppData\Local\Temp\ipykernel_9180\2113804560.py:14: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  Boston["Age"].between(80, 100, inclusive=True)

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,1,1,18-34
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2,2,18-34
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22,3,3,3,18-34
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47,4,4,4,18-34
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49,5,5,5,18-34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,0:50:15,1:43:31,2:36:53,3:32:26,3:43:46,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,7:38:56,26594,12015,269,60-64
26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,0:48:36,1:39:39,2:39:13,3:35:58,3:47:55,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,7:51:30,26595,12016,270,60-64
26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,0:53:03,1:47:16,2:41:45,3:37:07,3:48:21,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,7:59:33,26596,12017,91,65-69
26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,0:49:04,1:40:12,2:33:31,3:31:41,3:43:35,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,8:00:37,26597,14580,2055,50-54
26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,0:40:14,1:28:18,2:26:46,3:28:41,3:40:36,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,8:06:01,26598,14581,898,60-64

In [265]:
# change the max number of rows that we can view to 50, and the max number of columns we can view to 25
# find the top 50 male finishers in the 18 - 34 age group
pd.set_option("display.max_rows", 50)
pd.set_option('display.max_columns', 25)
Boston[(Boston["Age_group"] == "18-34") & (Boston["M/F"] == "M")].nsmallest(n=50, columns=["Overall"])

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,1,1,18-34
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2,2,18-34
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22,3,3,3,18-34
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47,4,4,4,18-34
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49,5,5,5,18-34
5,9,"Chepkwony, Frankline",30,M,Koibatek,NaN,KEN,NaN,0:14:44,0:29:45,0:44:59,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:18,0:05:00,2:10:52,6,6,6,18-34
6,14,"Ritzenhein, Dathan",32,M,Rockford,MI,USA,NaN,0:14:45,0:29:45,0:45:20,1:00:43,1:04:03,1:16:05,1:31:59,1:48:06,2:04:05,0:05:01,2:11:20,7,7,7,18-34
8,5,"Tola, Tadese",27,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,0:44:58,1:00:28,1:04:02,1:16:07,1:32:00,1:48:00,2:04:39,0:05:06,2:13:35,9,9,9,18-34
9,16,"Shafar, Vitaliy",33,M,Lutsk,NaN,UKR,NaN,0:15:14,0:30:34,0:46:05,1:01:43,1:05:07,1:17:18,1:33:11,1:49:43,2:06:16,0:05:07,2:13:52,10,10,10,18-34
10,22,"Tegenkamp, Matt",33,M,Portland,OR,USA,NaN,0:14:46,0:29:50,0:45:33,1:01:20,1:04:48,1:17:08,1:33:12,1:49:52,2:06:55,0:05:07,2:13:52,11,11,11,18-34
11,19,"Eggleston, Jeffrey",30,M,Boulder,CO,USA,NaN,0:15:14,0:30:34,0:46:06,1:01:42,1:05:07,1:17:19,1:33:30,1:50:12,2:06:47,0:05:08,2:14:17,12,12,12,18-34
12,15,"April, Lusapho",32,M,Uitenhage,NaN,RSA,NaN,0:14:44,0:29:44,0:44:59,1:00:29,1:04:03,1:16:07,1:32:00,1:48:07,2:06:50,0:05:13,2:16:25,13,13,13,18-34
13,20,"Arciniaga, Nicholas",31,M,Flagstaff,AZ,USA,NaN,0:14:44,0:29:44,0:45:14,1:01:07,1:04:35,1:17:50,1:35:43,1:53:33,2:10:40,0:05:16,2:18:02,14,14,14,18-34
15,28,"Canaday, Sage",29,M,Boulder,CO,USA,NaN,0:16:08,0:32:19,0:48:41,1:05:01,1:08:38,1:21:18,1:38:01,1:54:54,2:11:37,0:05:19,2:19:12,16,16,15,18-34
16,54,"Zyryanov, Sergey",30,M,Moscow,NaN,RUS,NaN,0:15:53,0:32:17,0:48:32,1:04:49,1:08:20,1:21:17,1:38:02,1:54:57,2:11:37,0:05:19,2:19:17,17,17,16,18-34
17,29,"Chavez, Chris",28,M,Burlingame,CA,USA,NaN,0:15:57,0:32:21,0:48:43,1:05:21,1:09:00,1:21:50,1:38:46,1:56:05,2:12:58,0:05:21,2:20:04,18,18,17,18-34
18,27,"Macpherson, Scott",28,M,Columbia,MO,USA,NaN,0:16:08,0:32:17,0:48:31,1:04:44,1:08:17,1:20:55,1:37:41,1:54:45,2:12:23,0:05:22,2:20:25,19,19,18,18-34
19,33,"Zablocki, Christopher",26,M,Essex,CT,USA,NaN,0:16:08,0:32:20,0:48:42,1:05:20,1:08:58,1:21:50,1:38:40,1:55:47,2:13:07,0:05:22,2:20:35,20,20,19,18-34
20,26,"Hasegawa, Kiyokatsu",32,M,Tokyo,NaN,JPN,NaN,0:14:46,0:29:51,0:45:33,1:01:27,1:05:04,1:18:05,1:35:34,1:54:00,2:12:27,0:05:22,2:20:42,21,21,20,18-34
21,32,"Zywicki, Benjamin P.",26,M,Louisville,CO,USA,NaN,0:16:08,0:32:21,0:48:42,1:05:21,1:08:59,1:21:50,1:38:46,1:56:05,2:13:25,0:05:24,2:21:10,22,22,21,18-34
22,41,"Viau-Dupuis, Philippe",32,M,Montreal,QC,CAN,NaN,0:16:08,0:32:22,0:48:43,1:05:21,1:08:59,1:21:51,1:38:46,1:56:05,2:13:25,0:05:24,2:21:16,23,23,22,18-34
23,35,"Sanca, Ruben",28,M,Lowell,MA,USA,CPV,0:16:08,0:32:22,0:48:42,1:05:20,1:08:59,1:21:50,1:38:45,1:56:04,2:13:36,0:05:25,2:21:58,24,24,23,18-34
24,21,"Cabada, Fernando",32,M,Fresno,CA,USA,NaN,0:15:29,0:31:05,0:47:15,1:03:47,1:07:23,1:20:21,1:37:34,1:54:54,2:13:11,0:05:26,2:22:05,25,25,24,18-34
25,24,"Richards, Malcolm J.",32,M,San Francisco,CA,USA,NaN,0:15:52,0:31:54,0:48:17,1:04:36,1:08:09,1:20:55,1:37:41,1:54:56,2:14:03,0:05:27,2:22:30,26,26,25,18-34
26,53,"Atkins, Cole",29,M,Blowing Rock,NC,USA,NaN,0:16:07,0:32:21,0:48:42,1:05:10,1:08:48,1:21:43,1:38:46,1:56:38,2:15:03,0:05:29,2:23:21,27,27,26,18-34
28,106,"Glaz, Daniel",32,M,Chicago,IL,USA,NaN,0:16:52,0:33:35,0:50:40,1:07:50,1:11:33,1:24:58,1:42:19,1:59:50,2:17:03,0:05:32,2:24:44,29,29,27,18-34
32,141,"Lenehan, Matt",23,M,San Francisco,CA,USA,NaN,0:16:48,0:33:31,0:50:35,1:07:45,1:11:27,1:24:54,1:42:15,1:59:46,2:17:08,0:05:33,2:25:08,33,31,28,18-34
34,149,"Leboeuf, Maxime M",28,M,Gatineau,QC,CAN,NaN,0:17:16,0:34:16,0:51:21,1:08:27,1:12:08,1:25:27,1:43:05,2:00:25,2:17:28,0:05:33,2:25:10,35,32,29,18-34
36,127,"Ayr, Jason M.",27,M,Medford,MA,USA,NaN,0:16:49,0:33:31,0:50:19,1:07:25,1:11:09,1:24:34,1:42:15,1:59:46,2:17:09,0:05:33,2:25:14,37,34,31,18-34
37,110,"Faulkner, Jerry D.",33,M,Sunnyside,NY,USA,NaN,0:16:37,0:33:26,0:50:31,1:07:51,1:11:34,1:25:00,1:42:20,2:00:03,2:17:36,0:05:33,2:25:28,38,35,32,18-34
38,48,"Pearlman, Oz",32,M,New York,NY,USA,NaN,0:16:19,0:33:13,0:50:39,1:07:56,1:11:39,1:25:05,1:42:34,2:00:33,2:17:51,0:05:33,2:25:31,39,36,33,18-34
40,31,"Chida, Yosuke",24,M,Tokyo,NaN,JPN,NaN,0:14:50,0:30:24,0:47:01,1:03:48,1:07:23,1:20:22,1:37:44,1:56:07,2:15:55,0:05:34,2:25:47,41,37,34,18-34
41,248,"Simpson, Jason M.",30,M,Boulder,CO,USA,NaN,0:16:46,0:33:43,0:50:46,1:07:43,1:11:26,1:24:52,1:42:13,1:59:41,2:16:56,0:05:34,2:25:47,42,38,35,18-34
44,119,"Peck, Graham",25,M,Baltimore,MD,USA,NaN,0:17:01,0:34:04,0:51:17,1:08:46,1:12:35,1:26:12,1:43:47,2:01:17,2:18:27,0:05:35,2:26:09,45,40,36,18-34
45,117,"Lawder, Matthew T.",26,M,St. Louis,MO,USA,NaN,0:16:53,0:33:51,0:50:54,1:07:51,1:11:33,1:24:59,1:42:20,1:59:50,2:17:27,0:05:35,2:26:15,46,41,37,18-34
46,159,"Schneider, Jesse A.",27,M,Bronx,NY,USA,NaN,0:16:51,0:33:34,0:50:39,1:07:49,1:11:31,1:24:57,1:42:26,2:00:25,2:18:26,0:05:36,2:26:24,47,42,38,18-34
47,112,"Torphy, Bobby",26,M,Chapel Hill,NC,USA,NaN,0:16:35,0:33:11,0:49:53,1:06:45,1:10:23,1:23:31,1:40:53,1:59:03,2:17:39,0:05:36,2:26:29,48,43,39,18-34
48,138,"Sevcik, David",25,M,Denver,CO,USA,NaN,0:16:48,0:33:49,0:51:20,1:08:27,1:12:08,1:25:27,1:43:04,2:00:43,2:18:30,0:05:36,2:26:35,49,44,40,18-34
49,121,"Leuchanka, Aliaksandr",23,M,Durham,NH,USA,NaN,0:16:47,0:33:30,0:50:35,1:07:45,1:11:28,1:24:53,1:42:44,2:01:05,2:18:55,0:05:36,2:26:36,50,45,41,18-34
50,152,"McDonald, Eric R.",25,M,Groveland,MA,USA,NaN,0:16:52,0:33:36,0:50:24,1:07:29,1:11:13,1:24:38,1:42:20,2:00:03,2:18:13,0:05:36,2:26:38,51,46,42,18-34
52,114,"Paul, Charlie",25,M,Iowa City,IA,USA,NaN,0:16:32,0:33:09,0:50:17,1:07:27,1:11:10,1:24:36,1:42:17,2:00:00,2:18:18,0:05:36,2:26:41,53,47,43,18-34
54,34,"Kelly, James M.",31,M,New York,NY,USA,NaN,0:16:17,0:32:57,0:49:48,1:06:55,1:10:45,1:24:21,1:42:00,1:59:57,2:18:20,0:05:37,2:27:01,55,48,44,18-34
55,288,"Coon, Craig R.",27,M,Penfield,NY,USA,NaN,0:17:16,0:34:16,0:51:19,1:08:26,1:12:07,1:25:26,1:43:12,2:01:24,2:19:08,0:05:37,2:27:08,56,49,45,18-34
58,105,"Schlich, Daniel P.",22,M,West Point,NY,USA,NaN,0:17:13,0:34:21,0:51:52,1:09:25,1:13:11,1:26:51,1:44:43,2:02:45,2:19:54,0:05:38,2:27:16,59,51,47,18-34
60,269,"Serafini, Louis C.",23,M,Brighton,MA,USA,NaN,0:16:02,0:32:15,0:48:37,1:05:14,1:08:53,1:21:44,1:38:54,1:57:41,2:17:54,0:05:38,2:27:37,61,53,48,18-34
62,306,"Garcia, Emiliano I.",32,M,Queens,NY,USA,NaN,0:16:52,0:33:35,0:50:40,1:07:50,1:11:32,1:24:58,1:42:28,2:00:40,2:19:15,0:05:39,2:27:49,63,54,49,18-34
63,134,"Craighead, Daniel",25,M,State College,PA,USA,NaN,0:16:49,0:33:54,0:51:17,1:08:30,1:12:10,1:25:47,1:43:36,2:01:39,2:19:51,0:05:39,2:27:53,64,55,50,18-34
64,107,"Hendrix, Austin D",25,M,Chicago,IL,USA,NaN,0:16:51,0:33:35,0:50:39,1:07:49,1:11:31,1:24:57,1:42:19,2:00:02,2:18:59,0:05:39,2:27:54,65,56,51,18-34
65,221,"Shaw, Philip J",30,M,Manchester,NH,USA,NaN,0:17:16,0:34:29,0:52:00,1:09:34,1:13:19,1:26:59,1:44:51,2:02:53,2:20:23,0:05:39,2:27:57,66,57,52,18-34
66,462,"Hinkle, John",28,M,Philadelphia,PA,USA,NaN,0:16:52,0:34:06,0:51:26,1:08:47,1:12:36,1:26:14,1:44:08,2:02:18,2:20:20,0:05:40,2:28:10,67,58,53,18-34

In [266]:
# find the top 50 female finishers in the 18 - 34 age group
Boston[(Boston["Age_group"] == "18-34") & (Boston["M/F"] == "F")].nsmallest(n=50, columns=["Overall"])

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
30,F11,"Rotich, Caroline",30,F,Nyahururu,NaN,KEN,NaN,0:16:59,0:34:24,0:51:49,1:09:00,1:12:45,1:26:08,1:43:24,2:00:50,2:17:30,0:05:32,2:24:55,31,1,1,18-34
31,F2,"Dibaba, Mare",25,F,Shoa,NaN,ETH,NaN,0:16:58,0:34:23,0:51:48,1:09:00,1:12:45,1:26:08,1:43:23,2:00:50,2:17:30,0:05:32,2:24:59,32,2,2,18-34
33,F1,"Deba, Buzunesh",27,F,Arsi,NaN,ETH,NaN,0:16:57,0:34:23,0:51:49,1:09:01,1:12:45,1:26:09,1:43:24,2:00:50,2:17:30,0:05:33,2:25:09,34,3,3,18-34
39,F10,"Linden, Desiree",31,F,Rochester Mills,MI,USA,NaN,0:17:00,0:34:24,0:51:48,1:09:00,1:12:45,1:26:08,1:43:23,2:00:49,2:17:51,0:05:34,2:25:39,40,4,4,18-34
43,F8,"Cherop, Sharon",31,F,Marakwet,NaN,KEN,NaN,0:16:59,0:34:24,0:51:49,1:09:01,1:12:46,1:26:09,1:43:24,2:00:50,2:18:02,0:05:35,2:26:05,44,5,5,18-34
51,F9,"Kilel, Caroline",34,F,Bomet,NaN,KEN,NaN,0:16:58,0:34:23,0:51:48,1:09:00,1:12:44,1:26:08,1:43:23,2:00:50,2:18:11,0:05:36,2:26:40,52,6,6,18-34
53,F3,"Kebede, Aberu",28,F,Shoa,NaN,ETH,NaN,0:16:58,0:34:23,0:51:49,1:09:00,1:12:45,1:26:08,1:43:24,2:00:50,2:18:11,0:05:37,2:26:52,54,7,7,18-34
57,F6,"Demise, Shure",19,F,Bore,NaN,ETH,NaN,0:16:58,0:34:23,0:51:49,1:09:00,1:12:46,1:26:08,1:43:24,2:00:50,2:18:21,0:05:37,2:27:14,58,8,8,18-34
61,F4,"Flanagan, Shalane",33,F,Portland,OR,USA,NaN,0:16:58,0:34:24,0:51:49,1:09:01,1:12:45,1:26:09,1:43:34,2:01:35,2:19:45,0:05:39,2:27:47,62,9,9,18-34
74,F16,"Chepkirui, Joyce",26,F,Iten,NaN,KEN,NaN,0:16:58,0:34:23,0:51:48,1:09:00,1:12:45,1:26:08,1:43:23,2:00:50,2:18:54,0:05:42,2:29:07,75,10,10,18-34
77,F5,"Duliba, Aleksandra",27,F,Minsk,NaN,BLR,NaN,0:17:09,0:34:23,0:51:49,1:09:01,1:12:46,1:26:09,1:44:15,2:03:06,2:21:22,0:05:42,2:29:23,78,11,11,18-34
145,F14,"Nemec, Lisa",30,F,Zagreb,NaN,CRO,NaN,0:17:07,0:34:57,0:53:04,1:11:00,1:15:00,1:29:12,1:48:12,2:07:38,2:26:54,0:05:56,2:35:18,146,12,12,18-34
235,F22,"Amako, Megumi",24,F,Tokyo,NaN,JPN,NaN,0:17:41,0:36:04,0:54:36,1:13:16,1:17:18,1:32:02,1:51:22,2:11:19,2:30:47,0:06:05,2:39:08,236,14,14,18-34
303,F21,"Dionne, Hilary K.",29,F,Charlestown,MA,USA,NaN,0:18:09,0:36:14,0:54:35,1:13:05,1:17:11,1:31:48,1:51:08,2:11:15,2:31:22,0:06:08,2:40:42,304,15,15,18-34
329,F24,"Philbrook, Lauren",27,F,State College,PA,USA,NaN,0:18:53,0:38:09,0:57:35,1:16:28,1:20:35,1:35:28,1:54:36,2:14:09,2:33:03,0:06:10,2:41:17,330,16,16,18-34
472,F25,"Phillips, Caitlin E.",32,F,New York,NY,USA,NaN,0:18:54,0:38:09,0:57:36,1:17:17,1:21:32,1:36:52,1:56:26,2:16:27,2:35:49,0:06:17,2:44:28,473,17,17,18-34
497,1339,"Zimmer, Lissa",23,F,Vancouver,BC,CAN,USA,0:19:38,0:39:07,0:58:49,1:18:34,1:22:50,1:38:14,1:57:59,2:17:41,2:36:37,0:06:18,2:44:56,498,18,18,18-34
597,775,"Misuraca, Katie",34,F,Gloucester,MA,USA,NaN,0:20:15,0:40:13,1:00:04,1:19:37,1:23:51,1:39:08,1:58:47,2:18:38,2:37:46,0:06:21,2:46:22,598,19,19,18-34
608,1502,"Duhon, Madeline E.",26,F,Somerville,MA,USA,NaN,0:18:51,0:38:03,0:56:58,1:16:16,1:20:28,1:35:33,1:55:28,2:16:11,2:36:55,0:06:22,2:46:34,609,20,20,18-34
664,4793,"Ryan, Elizabeth",24,F,Cambridge,MA,USA,NaN,0:20:18,0:40:14,1:00:06,1:19:48,1:24:08,1:39:28,1:59:12,2:18:57,2:38:22,0:06:23,2:47:15,665,22,21,18-34
666,F29,"Uchiyama, Mayumi",22,F,Tokyo,NaN,JPN,NaN,0:18:55,0:38:10,0:57:36,1:17:17,1:21:33,1:36:53,1:57:08,2:17:43,2:38:06,0:06:23,2:47:17,667,23,22,18-34
736,2482,"Li, Ji",33,F,Guang Dong,NaN,CHN,NaN,0:18:58,0:38:04,0:57:23,1:17:01,1:21:19,1:37:02,1:57:47,2:18:44,2:38:55,0:06:25,2:48:07,737,24,23,18-34
737,F28,"Green, Amber",34,F,Saint George,UT,USA,NaN,0:18:54,0:38:10,0:57:39,1:17:18,1:21:34,1:37:04,1:57:17,2:17:45,2:38:29,0:06:25,2:48:07,738,25,24,18-34
741,1282,"D'Addario, Emily",24,F,Boston,MA,USA,NaN,0:19:37,0:39:11,0:58:56,1:18:47,1:23:03,1:38:44,1:59:01,2:19:35,2:39:38,0:06:25,2:48:10,742,26,25,18-34
778,1254,"Sandahl, Denise M",34,F,Bow,NH,USA,NaN,0:19:45,0:39:15,0:58:39,1:18:14,1:22:30,1:37:48,1:59:37,2:19:38,2:39:36,0:06:26,2:48:32,779,28,26,18-34
789,F40,"Rediger, Andrea K.",26,F,Minneapolis,MN,USA,NaN,0:19:10,0:38:38,0:57:59,1:17:45,1:22:03,1:37:22,1:57:39,2:18:32,2:39:07,0:06:27,2:48:41,790,29,27,18-34
827,F27,"Wijayaratne, Hiruni",24,F,Evansville,IN,USA,NaN,0:18:53,0:38:09,0:57:36,1:17:17,1:21:32,1:36:53,1:57:08,2:18:20,2:39:41,0:06:27,2:49:05,828,31,28,18-34
899,1570,"Leonhardt, Kerri",25,F,Cambridge,MA,USA,NaN,0:20:03,0:39:48,1:00:02,1:19:59,1:24:20,1:39:55,2:00:07,2:20:33,2:40:52,0:06:29,2:49:39,900,34,29,18-34
936,1840,"Dillon, Erin D",30,F,Raleigh,NC,USA,NaN,0:19:50,0:39:36,0:59:34,1:19:33,1:23:50,1:39:27,1:59:54,2:20:43,2:41:04,0:06:29,2:49:59,937,35,30,18-34
938,2532,"Moran, Brittany A.",27,F,Etobicoke,ON,CAN,NaN,0:19:28,0:38:56,0:58:40,1:18:24,1:22:43,1:38:14,1:58:47,2:19:59,2:40:50,0:06:29,2:49:59,939,36,31,18-34
951,2370,"Shaw, Christine E",29,F,Manchester,NH,USA,NaN,0:20:06,0:39:47,0:59:41,1:19:41,1:24:01,1:39:42,2:00:13,2:20:49,2:41:14,0:06:30,2:50:06,952,37,32,18-34
963,2122,"Allan, Kirsten N.",24,F,Aliso Viejo,CA,USA,NaN,0:19:55,0:39:58,0:59:51,1:20:44,1:25:01,1:40:38,2:01:11,2:21:43,2:41:36,0:06:30,2:50:11,964,38,33,18-34
986,2722,"Nolan, Alison L.",25,F,Gainesville,FL,USA,NaN,0:20:45,0:41:13,1:01:33,1:21:49,1:26:11,1:41:55,2:02:18,2:22:36,2:41:36,0:06:31,2:50:28,987,39,34,18-34
993,1698,"Howard, Liza J.",26,F,New York,NY,USA,CAN,0:20:40,0:40:52,1:01:10,1:21:31,1:25:54,1:41:44,2:02:10,2:22:23,2:42:02,0:06:31,2:50:32,994,41,35,18-34
1033,3221,"Wang, Alex",23,F,Ellicott City,MD,USA,NaN,0:20:16,0:39:54,0:59:44,1:20:01,1:24:27,1:40:17,2:00:52,2:21:35,2:41:57,0:06:32,2:50:52,1034,43,37,18-34
1069,2345,"Morimoto, Tania K.",25,F,Redwood City,CA,USA,NaN,0:20:05,0:40:00,0:59:55,1:19:48,1:24:10,1:39:54,2:00:14,2:21:02,2:41:29,0:06:32,2:51:18,1070,44,38,18-34
1080,2161,"Piras, Sabina",25,F,San Diego,CA,USA,NaN,0:19:57,0:39:39,0:59:34,1:19:34,1:23:55,1:39:33,2:00:18,2:21:19,2:42:03,0:06:33,2:51:27,1081,45,39,18-34
1081,2432,"Dalton, Anna E",25,F,Anchorage,AK,USA,NaN,0:20:05,0:40:10,1:00:24,1:20:38,1:25:05,1:40:53,2:01:07,2:21:42,2:42:19,0:06:33,2:51:27,1082,46,40,18-34
1132,3515,"De Hueck, Jennifer",26,F,Pierre,SD,USA,NaN,0:21:05,0:41:20,1:01:33,1:21:47,1:26:14,1:42:10,2:02:41,2:23:06,2:43:08,0:06:34,2:51:52,1133,47,41,18-34
1133,F34,"Yaremczuk, Natasha",34,F,Paris,ON,CAN,NaN,0:19:20,0:38:57,0:58:34,1:18:41,1:23:04,1:38:47,1:59:25,2:21:04,2:42:22,0:06:34,2:51:53,1134,48,42,18-34
1135,2890,"Tassello, Nicole",23,F,Hamilton,NJ,USA,NaN,0:20:32,0:40:54,1:01:08,1:21:22,1:25:47,1:41:29,2:01:56,2:22:38,2:42:48,0:06:34,2:51:54,1136,49,43,18-34
1175,F31,"Mudy-Mader, Justyna I.",30,F,Huntsville,AL,USA,POL,0:19:32,0:39:14,0:59:11,1:19:42,1:24:12,1:40:18,2:00:54,2:21:34,2:42:29,0:06:35,2:52:17,1176,51,45,18-34
1178,1916,"Howery, Katie",29,F,Middleton,WI,USA,NaN,0:20:49,0:40:52,1:01:01,1:21:06,1:25:28,1:41:05,2:01:31,2:22:19,2:43:10,0:06:35,2:52:18,1179,52,46,18-34
1235,2468,"Sischo, Lauren",27,F,Southborough,MA,USA,NaN,0:19:52,0:39:42,0:59:53,1:20:18,1:24:45,1:40:42,2:01:23,2:22:29,2:43:28,0:06:36,2:52:47,1236,56,47,18-34
1317,F41,"Casey, Nicole M.",29,F,Watertown,MA,USA,NaN,0:20:02,0:40:20,1:00:42,1:21:05,1:25:28,1:41:31,2:02:12,2:23:18,2:44:15,0:06:37,2:53:27,1318,61,50,18-34
1350,6653,"Deroian, Rhea",28,F,Hesperia,CA,USA,NaN,0:21:00,0:41:34,1:01:41,1:22:08,1:26:31,1:42:31,2:03:17,2:24:12,2:44:40,0:06:38,2:53:40,1351,62,51,18-34
1366,3048,"O'Neil, Kathleen M.",29,F,Honolulu,HI,USA,NaN,0:20:46,0:40:45,1:00:44,1:21:09,1:25:35,1:41:31,2:02:17,2:23:25,2:44:17,0:06:38,2:53:46,1367,64,53,18-34
1378,4749,"Velez, Maria I.",26,F,"Torreon, Coah",NaN,MEX,NaN,0:20:53,0:41:09,1:01:24,1:21:56,1:26:22,1:42:18,2:03:19,2:24:23,2:44:53,0:06:38,2:53:52,1379,65,54,18-34
1381,4674,"Roecker, Samantha",23,F,Washington,DC,USA,NaN,0:20:41,0:41:14,1:01:56,1:22:29,1:26:55,1:42:40,2:03:21,2:24:02,2:44:43,0:06:38,2:53:52,1382,66,55,18-34
1422,1915,"Hails, Kate A.",27,F,Pittsburgh,PA,USA,NaN,0:20:23,0:40:34,1:00:57,1:21:35,1:26:03,1:42:10,2:02:53,2:23:51,2:44:47,0:06:39,2:54:08,1423,68,56,18-34

In [267]:
# find the top 25 finishers from Philadelphia
Boston[Boston["City"] == "Philadelphia"].nsmallest(n=25, columns=["Overall"])

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
66,462,"Hinkle, John",28,M,Philadelphia,PA,USA,NaN,0:16:52,0:34:06,0:51:26,1:08:47,1:12:36,1:26:14,1:44:08,2:02:18,2:20:20,0:05:40,2:28:10,67,58,53,18-34
182,847,"Bauder, Andrew R",26,M,Philadelphia,PA,USA,NaN,0:17:48,0:35:42,0:53:46,1:11:57,1:15:54,1:30:23,1:49:47,2:09:24,2:28:41,0:06:00,2:37:05,183,171,157,18-34
202,2013,"Blitzer, David",26,M,Philadelphia,PA,USA,NaN,0:18:08,0:36:03,0:54:16,1:12:49,1:16:54,1:31:28,1:50:23,2:09:25,2:29:02,0:06:01,2:37:36,203,191,175,18-34
265,405,"Davies, Geraint H",24,M,Philadelphia,PA,USA,NaN,0:16:48,0:33:35,0:50:45,1:07:45,1:11:28,1:24:54,1:42:40,2:03:49,2:29:47,0:06:06,2:39:52,266,252,234,18-34
332,683,"Rusterholz, Tim",27,M,Philadelphia,PA,USA,NaN,0:18:48,0:37:31,0:56:30,1:15:29,1:19:36,1:34:22,1:53:38,2:13:13,2:32:39,0:06:10,2:41:21,333,317,292,18-34
460,1642,"Zappala, Dante",39,M,Philadelphia,PA,USA,NaN,0:18:57,0:37:54,0:57:05,1:16:21,1:20:29,1:35:33,1:55:11,2:15:16,2:35:28,0:06:16,2:44:13,461,445,401,35-39
718,351,"Johnson, William R",28,M,Philadelphia,PA,USA,NaN,0:16:50,0:34:04,0:52:52,1:10:50,1:14:45,1:29:17,1:49:03,2:10:53,2:36:42,0:06:25,2:47:57,719,696,603,18-34
725,1680,"Diamond, Anthony",24,M,Philadelphia,PA,USA,NaN,0:19:40,0:39:04,0:58:43,1:18:31,1:22:43,1:38:12,1:58:31,2:19:02,2:39:16,0:06:25,2:48:00,726,703,610,18-34
796,1501,"Kaczmarek, Bruce",28,M,Philadelphia,PA,USA,NaN,0:20:26,0:40:21,1:00:40,1:21:01,1:25:30,1:41:41,2:03:25,2:22:38,2:40:50,0:06:27,2:48:46,797,768,657,18-34
862,1071,"Mroz, William",30,M,Philadelphia,PA,USA,NaN,0:19:53,0:39:00,0:58:27,1:18:01,1:22:18,1:37:39,1:58:18,2:19:27,2:40:11,0:06:28,2:49:22,863,831,701,18-34
1340,4044,"Bumbulsky, Jim A",28,M,Philadelphia,PA,USA,NaN,0:20:47,0:41:12,1:01:48,1:22:19,1:26:51,1:42:56,2:03:41,2:24:14,2:44:26,0:06:38,2:53:37,1341,1280,1037,18-34
1476,6392,"Horvath, Daniel",40,M,Philadelphia,PA,USA,NaN,0:21:23,0:43:03,1:03:49,1:24:41,1:29:16,1:45:29,2:06:05,2:26:28,2:45:55,0:06:40,2:54:26,1477,1404,174,40-44
1550,1450,"Smith, Zachary A.",27,M,Philadelphia,PA,USA,NaN,0:19:55,0:39:46,0:59:45,1:20:09,1:24:29,1:40:24,2:01:07,2:22:32,2:45:00,0:06:41,2:54:56,1551,1473,1183,18-34
1584,3067,"Rubin, Adam J.",28,M,Philadelphia,PA,USA,NaN,0:21:00,0:41:32,1:02:06,1:22:37,1:27:02,1:42:52,2:03:59,2:25:04,2:45:53,0:06:41,2:55:08,1585,1506,1207,18-34
2113,1234,"Cruz, Aristides I. Jr.",34,M,Philadelphia,PA,USA,NaN,0:20:56,0:41:43,1:02:33,1:23:40,1:28:15,1:45:45,2:07:01,2:28:46,2:49:24,0:06:48,2:57:59,2114,2000,1528,18-34
2457,2144,"Hagen, Jeffrey",37,M,Philadelphia,PA,USA,NaN,0:20:35,0:40:53,1:01:17,1:22:06,1:26:38,1:43:05,2:04:46,2:27:20,2:49:35,0:06:51,2:59:16,2458,2320,1739,35-39
2645,2564,"Durant-Young, Zaire",35,M,Philadelphia,PA,USA,NaN,0:21:09,0:42:02,1:02:53,1:23:53,1:28:29,1:45:01,2:06:46,2:28:27,2:50:19,0:06:52,3:00:00,2646,2497,1846,35-39
2771,6987,"Turk, Christopher",43,M,Philadelphia,PA,USA,NaN,0:21:58,0:43:28,1:05:08,1:26:18,1:30:50,1:47:27,2:09:05,2:30:37,2:51:35,0:06:54,3:00:35,2772,2617,389,40-44
2816,1336,"Madden, Brian J.",36,M,Philadelphia,PA,USA,NaN,0:20:42,0:41:31,1:02:07,1:23:01,1:27:36,1:44:06,2:05:47,2:28:41,2:51:48,0:06:54,3:00:49,2817,2657,1953,35-39
3044,4317,"Knast, Stephanie",25,F,Philadelphia,PA,USA,NaN,0:21:02,0:42:07,1:03:12,1:24:20,1:28:54,1:45:23,2:07:23,2:29:45,2:52:14,0:06:57,3:02:04,3045,180,153,18-34
3160,1352,"Spooner, Christopher",29,M,Philadelphia,PA,USA,NaN,0:20:21,0:40:57,1:01:31,1:22:21,1:26:53,1:43:19,2:05:29,2:28:56,2:53:10,0:06:58,3:02:39,3161,2971,2151,18-34
3225,5223,"York, Christopher L",29,M,Philadelphia,PA,USA,NaN,0:21:28,0:42:58,1:04:23,1:25:59,1:30:41,1:47:40,2:09:40,2:31:48,2:53:46,0:06:59,3:02:58,3226,3030,2182,18-34
3264,1193,"Spry, Jeremy",28,M,Philadelphia,PA,USA,NaN,0:20:59,0:42:30,1:04:00,1:25:17,1:29:56,1:46:47,2:08:54,2:31:16,2:53:36,0:07:00,3:03:12,3265,3067,2206,18-34
3292,3632,"Thomas, Preston III",39,M,Philadelphia,PA,USA,NaN,0:21:15,0:42:17,1:03:17,1:24:17,1:28:53,1:45:23,2:07:00,2:29:10,2:51:40,0:07:00,3:03:21,3293,3093,2221,35-39
3603,8362,"O'Connor, Siobhan A.",27,F,Philadelphia,PA,USA,NaN,0:21:23,0:42:40,1:04:02,1:25:27,1:30:04,1:46:46,2:08:57,2:32:19,2:54:59,0:07:04,3:05:04,3604,242,209,18-34

In [268]:
# find the top 25 finishers from Ohio
Boston[Boston["State"] == "OH"].nsmallest(n=25, columns=["Overall"])

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
93,46,"Capriolo, Michael",31,M,Akron,OH,USA,NaN,0:16:33,0:33:35,0:51:02,1:08:42,1:12:34,1:26:29,1:44:58,2:04:15,2:23:18,0:05:47,2:31:34,94,83,77,18-34
220,822,"Shafer, Dan",22,M,Painesville,OH,USA,NaN,0:18:28,0:36:52,0:55:27,1:14:11,1:18:17,1:32:43,1:51:30,2:10:42,2:29:58,0:06:03,2:38:36,221,209,193,18-34
239,641,"Schluneker, Matthew J",24,M,Columbus,OH,USA,NaN,0:18:30,0:37:08,0:56:03,1:14:51,1:18:53,1:33:32,1:52:38,2:11:51,2:30:56,0:06:05,2:39:12,240,226,210,18-34
261,271,"Kessinger, Andrew",45,M,Upper Arlington,OH,USA,NaN,0:18:45,0:37:14,0:55:57,1:14:44,1:18:48,1:33:14,1:51:53,2:11:11,2:31:12,0:06:06,2:39:42,262,248,5,45-49
320,450,"Frash, Joshua D.",23,M,Athens,OH,USA,NaN,0:18:01,0:36:16,0:54:57,1:13:46,1:17:52,1:32:44,1:52:23,2:12:37,2:32:24,0:06:09,2:41:08,321,306,283,18-34
336,524,"Randall, Jack",20,M,Dayton,OH,USA,NaN,0:18:44,0:37:19,0:56:01,1:14:46,1:18:52,1:33:33,1:52:57,2:13:20,2:32:48,0:06:10,2:41:28,337,321,295,18-34
343,297,"Gilbert, John",38,M,Powell,OH,USA,NaN,0:18:41,0:37:39,0:56:27,1:15:29,1:19:38,1:34:32,1:54:13,2:13:53,2:33:19,0:06:10,2:41:41,344,328,302,35-39
356,791,"Paullin, Matthew J",33,M,Berea,OH,USA,NaN,0:19:25,0:38:33,0:57:43,1:16:56,1:21:08,1:36:08,1:55:31,2:14:59,2:33:42,0:06:11,2:41:57,357,341,314,18-34
420,563,"Lessek, Tim",39,M,Mason,OH,USA,NaN,0:18:43,0:37:18,0:56:17,1:15:36,1:19:45,1:34:50,1:54:45,2:14:57,2:34:43,0:06:15,2:43:31,421,405,368,35-39
423,473,"Goldsby, Thomas J",45,M,Dublin,OH,USA,NaN,0:18:34,0:37:14,0:56:13,1:15:27,1:19:40,1:34:50,1:54:43,2:14:52,2:34:46,0:06:15,2:43:35,424,408,8,45-49
454,711,"Stilgenbauer, Adam",24,M,New Philadelphia,OH,USA,NaN,0:19:08,0:38:23,0:57:31,1:16:37,1:20:47,1:35:43,1:55:06,2:14:57,2:34:49,0:06:16,2:44:06,455,439,395,18-34
482,4164,"Hengoed, Joseph",25,M,Seven Hills,OH,USA,NaN,0:20:18,0:40:00,0:59:20,1:18:03,1:22:06,1:36:35,1:55:10,2:14:20,2:34:53,0:06:17,2:44:33,483,466,419,18-34
516,386,"Livensparger, Elliot",24,M,West Unity,OH,USA,NaN,0:17:47,0:35:28,0:53:56,1:13:48,1:17:54,1:33:01,1:53:08,2:14:22,2:35:49,0:06:19,2:45:11,517,499,446,18-34
536,1457,"Merkle, Israel",26,M,Akron,OH,USA,NaN,0:19:36,0:38:29,0:57:32,1:16:49,1:21:02,1:36:06,1:55:55,2:16:21,2:36:40,0:06:19,2:45:30,537,519,464,18-34
568,1100,"Polen, Brian M.",35,M,Wooster,OH,USA,NaN,0:19:30,0:38:24,0:57:27,1:16:45,1:20:56,1:36:01,1:55:49,2:16:22,2:36:47,0:06:20,2:46:01,569,551,490,35-39
582,1291,"Sprague, Dustin L",40,M,Kettering,OH,USA,NaN,0:19:19,0:38:32,0:57:48,1:17:17,1:21:33,1:36:53,1:56:58,2:17:35,2:37:32,0:06:21,2:46:11,583,565,43,40-44
599,295,"Lee, Kam S.",46,M,Middleburg Heights,OH,USA,NaN,0:18:28,0:37:12,0:56:06,1:15:10,1:19:20,1:34:38,1:54:55,2:15:31,2:36:37,0:06:21,2:46:24,600,581,24,45-49
603,719,"Peters, David W",51,M,Copley,OH,USA,NaN,0:19:00,0:37:49,0:57:01,1:16:22,1:20:34,1:36:03,1:56:18,2:17:03,2:37:36,0:06:21,2:46:27,604,585,5,50-54
616,3391,"Timko, Kyle",24,M,Saint Clarsville,OH,USA,NaN,0:19:01,0:37:26,0:56:08,1:14:57,1:19:02,1:33:59,1:54:35,2:15:58,2:37:22,0:06:22,2:46:39,617,597,519,18-34
644,570,"Blain, Andrew",22,M,Cincinnati,OH,USA,NaN,0:18:02,0:36:18,0:55:07,1:14:07,1:18:16,1:33:24,1:53:51,2:15:33,2:37:06,0:06:23,2:47:04,645,624,545,18-34
661,5038,"Saulnier, Emmett",19,M,Terrace Park,OH,USA,NaN,0:20:05,0:39:39,0:59:16,1:18:45,1:23:05,1:38:27,1:58:22,2:18:33,2:38:23,0:06:23,2:47:14,662,641,557,18-34
678,3292,"Morris, Erik C.",22,M,Columbus,OH,USA,NaN,0:19:41,0:38:53,0:58:04,1:17:16,1:21:23,1:36:55,1:57:18,2:18:13,2:38:25,0:06:24,2:47:27,679,656,571,18-34
685,3359,"Thomas, Justin C",31,M,Roaming Shores,OH,USA,NaN,0:18:58,0:37:38,0:56:33,1:15:35,1:19:45,1:34:49,1:54:41,2:15:43,2:37:36,0:06:24,2:47:32,686,663,578,18-34
742,1159,"Cochran, Joshua",34,M,University Hts,OH,USA,NaN,0:19:43,0:39:23,0:59:06,1:18:55,1:23:12,1:38:41,1:58:47,2:19:09,2:39:23,0:06:25,2:48:11,743,717,621,18-34
744,2713,"Wittmann, Jay T.",33,M,Concord,OH,USA,NaN,0:19:03,0:38:09,0:57:39,1:17:19,1:21:40,1:37:23,1:58:06,2:19:00,2:39:33,0:06:25,2:48:12,745,719,622,18-34

In [269]:
# find finishers from Tipp City
Boston[Boston["City"] == "Tipp City"]

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division,Age_group
8388,4498,"Graham, Christopher D.",37,M,Tipp City,OH,USA,NaN,0:21:17,0:42:14,1:04:35,1:27:05,1:32:07,1:50:48,2:16:53,2:44:44,3:12:35,0:07:49,3:24:43,8389,6792,3373,35-39
11550,16051,"Jackson, Tracey",36,F,Tipp City,OH,USA,NaN,0:24:06,0:48:30,1:13:13,1:38:30,1:43:58,2:03:44,2:29:45,2:56:28,3:23:01,0:08:11,3:34:20,11551,3200,2438,35-39
15088,1956,"Salyer, Jason P.",24,M,Tipp City,OH,USA,NaN,0:23:15,0:46:11,1:08:33,1:30:52,1:35:27,1:52:13,2:22:08,2:54:21,3:31:14,0:08:37,3:45:31,15089,9823,3864,18-34

In [270]:
# find the number of male, female and total participants by age group, along with percentage of male and female participants
age_pivot = Boston.pivot_table(index="Age_group", columns="M/F", values= "Bib", aggfunc='count').reset_index()
age_pivot["Total"] = age_pivot["M"] + age_pivot["F"]
age_pivot["Percentage_Female"] = (age_pivot["F"] / age_pivot["Total"]) * 100
age_pivot["Percentage_Male"] = (age_pivot["M"] / age_pivot["Total"]) * 100
age_pivot

M/F Age_group     F     M  Total  Percentage_Female  Percentage_Male
0       18-34  4144  3215   7359          56.311999        43.688001
1       35-39  1860  1749   3609          51.537822        48.462178
2       40-44  1984  2109   4093          48.473003        51.526997
3       45-49  1832  2485   4317          42.436877        57.563123
4       50-54  1206  2055   3261          36.982521        63.017479
5       55-59   607  1498   2105          28.836105        71.163895
6       60-64   270   898   1168          23.116438        76.883562
7       65-69    91   403    494          18.421053        81.578947
8       70-74    20   123    143          13.986014        86.013986
9       75-79     2    36     38           5.263158        94.736842
10        80+     1    10     11           9.090909        90.909091

In [275]:
# find the average age for each age group, by male and female participants
average_age = Boston.pivot_table(index= "Age_group", columns="M/F", values="Age", aggfunc='mean')
average_age

M/F                F          M
Age_group
18-34      27.985763  28.652877
35-39      36.922043  36.959977
40-44      41.842238  41.944049
45-49      46.773472  46.744467
50-54      51.619403  51.759124
55-59      56.593081  56.592123
60-64      61.396296  61.434298
65-69      66.208791  66.347395
70-74      71.050000  71.308943
75-79      75.500000  76.333333
80+        82.000000  80.800000